@font-face {
  font-family: 'circular-web';
  src: url('/fonts/circularweb-book.woff2') format('woff2');
  font-weight: 400; 
  font-display: swap; 
}

@font-face {
  font-family: 'general-wolf';
  src: url('/fonts/general.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'robert-medium';
  src: url('/fonts/robert-medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'robert-regular';
  src: url('/fonts/robert-regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'zentry-regular';
  src: url('/fonts/zentry-regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@import "tailwindcss";


@theme {
  --font-circular: 'circular-web', ui-sans-serif, system-ui, sans-serif;
  --font-general: 'general-wolf', ui-serif, Georgia, serif;
  --font-robert: 'robert-regular', ui-serif, Georgia, serif;
  --font-robert-medium: 'robert-medium', ui-serif, Georgia, serif;
  --font-zentry: 'zentry-regular', ui-sans-serif, system-ui, sans-serif;
}